<li class= "relative">
  <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
    <%= image_tag property.images.first, class: "object-cover pointer-events-none group-hover:opacity-75"  if property.images.attached? %>
    <button type="button" class="absolute inset-0 focus:outline-none">
      <span class="sr-only">View details for IMG_4985.HEIC</span>
    </button>
  </div>
  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none"><%= property.city %>, <%= property.state %> <%= property.country %></p>
  <p class="block text-sm font-medium text-gray-500 pointer-events-none">20km</p>
  <p class="block text-sm font-medium text-gray-500 pointer-events-none">Jun 19-24</p>
  <p class="block text-sm font-medium text-gray-500 pointer-events-none">100$ per night</p>
</li>
